<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="content">
            {% block content %}
                <h1>Список пользователей</h1>
                <div id="books">
                    {% for user in users %}
                    <div class="user">
                        <strong>{{user.login}}</strong>: "<em>{{user.password}}"</em>
                    </div>
                    {% endfor %}
                </div>
            {% endblock %}
        </div>
    </body>
</html>
